body{
background-color: #E5E5E5;
font-family: 'Fira Sans', sans-serif;
display: flex;
flex-direction: column;
margin: 0px;
padding: 0px;
}

.header{
display: flex;
flex-wrap: wrap;
justify-content: center;
list-style-type: none;
width: 100%;

}
.logo{
  font-size: 16px;
  font-weight: 800;
  margin-left: 200px;
  margin-top: 40px;
 
}


button {
  position: relative;
  width: 300px;
  margin: 0 auto;
  height: 42px;
  background: none;
  border: none;
  height: 42px;
  width: 42px;
 margin-top: 30px;
  cursor: pointer;
}
button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color:black;
}
.menu-btn{
  height: 50px;
  width: 50px;
  position: relative;
  margin-top: 30px;
  margin-right: 200px;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color:black;
}
.menu-btn span::before,
.menu-btn span::after{
  content: "";
}
  .menu-btn span::before{
  transform: translateY(-5px);
  }
.tittle{
font-size: 50px;
width: 400px;
margin-top: 100px;
margin-left: 200px;
}
.icons{
position: relative;
height: 50px;
width: 300px;
margin-left: 1070px;
bottom: 100px;
}

.banner{
text-align: center;
width: 1500px;
}

.text{
padding-top: 50px;
width: 1000px;
margin-left: 250px;
}
#main{
display: flex;
flex-direction: row;
flex-wrap: wrap-reverse;
justify-content: center;
margin: 50px;
}

.one{
margin-left: 50px;
}

.text2{
display: flex;
width: 400px;
margin-left: 200px;
}



.our{
margin-left: 200px;
}

.client{
height: 500px;
background-color: white;
}
               
.first{
height: 70px;
width: 400px;
margin-left: 500px;
}

.second{
height: 30px;
width: 400px;
margin-left: 800px;
font-size: 16px;
font-weight: 600;
}
            
.third{
height: 70px;
width: 400px;
margin-left: 700px;
margin-top: 10px;
}

.two{
margin-top: 100px;
margin-left: 200px;
}
            
.form{
height: 50px;
width: 300px;
}
    
.ft{
display: flex;
flex-direction: row;
background-color: #515151;
list-style-type: none;
height: 100px;
margin-top: 0px;
margin-bottom: 0px;
padding-top: 50px;
}

.Gravity{
margin-left: 150px;
font-size: 25px;
color: white;
font-weight: 700;
}

.ft>li>a{
text-decoration: none;
color: white;
margin-left: 50px;
margin-right: 50px;
}

.ft2{
display: flex;
background-color: #515151;
list-style-type: none;
height: 100px;
margin-top: 0px;
margin-bottom: 0px;
padding-top: 50px;
}

.ft2>li>a{
text-decoration: none;
color: rgb(177, 163, 163);
margin-left: 180px;
margin-right: 50px;
}


    
    




   
    