body{
background-color: #E5E5E5;
font-family: 'Fira Sans', sans-serif;
display: flex;
flex-direction: column;
margin: 0px;
padding: 0px;
}

.nav{
display: flex;
justify-content: center;
list-style-type: none;
padding-left: 0;
}
    
.nav>li{
margin-left: 250px;
margin-right: 250px;
font-size: 18px;
}
    
.tittle{
font-size: 50px;
width: 400px;
margin-top: 100px;
margin-left: 200px;
}
       
.icons{
position: relative;
height: 50px;
width: 300px;
margin-left: 1200px;
bottom: 100px;
}

.banner{
text-align: center;
width: 1500px;
}

.text{
padding-top: 50px;
width: 1000px;
margin-left: 250px;
}
#main{
display: flex;
flex-direction: row;
flex-wrap: wrap-reverse;
justify-content: center;
margin: 50px;
}

.one{
margin-left: 50px;
}

.text2{
display: flex;
width: 400px;
margin-left: 200px;
}

button{
display: inline-block;
width: 100px;
height: 50px;
background-color:#EF8E70;
border: none;
margin-left: 1250px;
}

.our{
margin-left: 200px;
}

.client{
height: 500px;
background-color: white;
}
               
.first{
height: 70px;
width: 400px;
margin-left: 500px;
}

.second{
height: 30px;
width: 400px;
margin-left: 800px;
font-size: 16px;
font-weight: 600;
}
            
.third{
height: 70px;
width: 400px;
margin-left: 700px;
margin-top: 10px;
}

.two{
margin-top: 100px;
margin-left: 200px;
}
            
.form{
height: 50px;
width: 300px;
}
    
.ft{
display: flex;
flex-direction: row;
background-color: #515151;
list-style-type: none;
height: 100px;
margin-top: 0px;
margin-bottom: 0px;
padding-top: 50px;
}

.Gravity{
margin-left: 150px;
font-size: 25px;
color: white;
font-weight: 700;
}

.ft>li>a{
text-decoration: none;
color: white;
margin-left: 50px;
margin-right: 50px;
}

.ft2{
display: flex;
background-color: #515151;
list-style-type: none;
height: 100px;
margin-top: 0px;
margin-bottom: 0px;
padding-top: 50px;
}

.ft2>li>a{
text-decoration: none;
color: rgb(177, 163, 163);
margin-left: 180px;
margin-right: 50px;
}


    
    




   
    