*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Fira Sans', sans-serif;
}
.main{
  height:2492px;
  background-color: #E5E5E5;
  width: 1360px;
}
.header{
    display: flex;
    justify-content: space-between;
    list-style-type: none ;
    padding-top: 59px;
   margin-left: 125px;
}
.button_menu {
  position: relative;
  width: 300px;
  margin: 0 auto;
  height: 42px;
  background: none;
  border: none;
  height: 42px;
  width: 42px;
 cursor: pointer;
}
 .button_menu:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color:black;
}
.menu-btn{
  height: 50px;
  width: 50px;
  position: relative;
  margin-top: 30px;
  margin-right: 200px;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color:black;
}
.menu-btn span::before,
.menu-btn span::after{
  content: "";
}
  .menu-btn span::before{
  transform: translateY(-5px);
  }
  .heading{
    position: absolute;
    display: inline-block;
    width: 539px;
    height: 140px;
    margin-left: 125px;
    padding-top: 126px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1px;
    color: #222222;
  }
.icons{
 display: flex; 
 justify-content: space-between;
 padding-left: 1119px;
 padding-right: 133px;
 padding-top: 237px;
}
.banner{
  padding-top: 86px;
  width: 1110px;
  height: 580px;
  padding-left:125px ;
}
.banner_text{
  padding-top: 43px;
  padding-left: 125px;
  padding-right: 125px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
}
.plaseholders{
  display: flex;
 justify-content: space-between;
  margin-top: 135px;
  margin-left: 125px;
  margin-right: 125px;
}
.plaseholders_text{
 position: absolute;
  margin-left: 125px;
  margin-top: 46px;
  width: 540px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}
.button{
display: inline-block;
}
.plaseholder_button{
  position: relative;
  width: 160px;
  height: 50px;
  background-color: #EF8E70;
  color: white;
  border: 0px;
  margin-top: 46px;
  margin-left: 1075px;
}
.line{
  margin-top: 195px;
  margin-left: 125px;
  margin-right: 125px;
}
.logo{
  display: inline-block;
  margin-top: 72px;
  margin-left: 125px;
}
.siteday{
  display: inline-flex;
  justify-content: space-between;
  width: 630px;
  margin-left: 385px;
  font-weight: 700;
}
p{
  font-size: 14px;
}
.content1{
height: 84px;
margin-top: 13px;
margin-left: 885px;
margin-right: 245px;
}
.bestnav{
  display: inline-flex;
  justify-content: space-between;
  width: 630px;
  margin-top: 59px;
  margin-left: 600px;
  font-weight: 700;
}
  .footer_top{
   height: 480px;
   width: 1360px;
   background-color: #FAFAFA;
  }
  .footertext1{
    padding-top: 28px;
    margin-left: 457px;
    margin-right: 458px;
  }
  .clients{
    position: absolute;
    display: inline-block;
    margin-left: 123px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
  }
  span{
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-left: 790px;
  }
  .footertext2{
    margin-top: 17px;
    margin-left: 790px;
    margin-right: 125px;
  }
  .clientsimg{
    display: flex;
    justify-content: space-between;
    margin-top: 73px;
    margin-left: 125px;
    margin-right: 125px;
  }
  .footer_center{
    position: absolute;
    height: 280px;
    width: 1360px;
    background-color: #515151; 
  }
  .list1{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    margin-left: 125px;
   margin-right: 125px;
   }
 .email{
   width: 170px;
   height: 35px;
   text-align:center;
 } 
 .submit{
  width: 100px;
  height: 37px;
  color: white;
  background-color: #C6B393;
  border: 0px;
 }
a{
  text-decoration: none;
  color: white;
}
.line2{
  margin-top: 42px;
  margin-left: 125px;
  margin-right: 125px;
}
.list2{
 word-spacing: 20px;
  margin-left: 125px;
  margin-top: 36px;
 }
.icons2{
  display: inline-block;
  margin-left: 680px;
}
 
    
    




   
    