div{
    font-family: 'Montserrat', sans-serif;
    color: green;
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 0.05em;
    text-align: center;
    font-weight: medium;
   
    }
    
  
    